<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="projects" class="content-section">
                <div class="section-heading">
                    <h1>Why physical exercise can improve<br><em>your wellness </em></h1>
                </div>
                <div class="section-content">
                    <div class="masonry">
                        <div class="row">
                            <ul>
                            <div class="fl-right">
                              <img src="app/styles/images/participating-in-physical-exercise.jpg" width="304" height="203" alt="positive self talk">
                            </div>                        
                                <li>Both physical and mental wellbeing have been shown to improve as a consequence of building some form of regular physical exercise into our lives. </li>
                                <li>Appropriate exercise can provide a ‘time out’ from otherwise stressful lives and alleviate negative or discomforting mood states.</li>
                                <li>It can also provide benefits such as feeling physically fit and having fun. </li>
                                <li>It is recognised in professional circles that, in contrast to medical remedies, like
                                stopping smoking, reducing alcohol, changing poor eating habits or prescribing mood enhancing drugs, physical exercise can provide an rewarding experience to the participant with little risk of undesirable side-effects. </li>
                                <li>There are social benefits from involvement in exercise as well as the aesthetic
                                feeling associated with movement. </li>
                                <li>The immediate impact of regular well-chosen exercise participation can be quite
                                extensive, including 
                                    <ol>
                                        <li>having fun</li>
                                        <li>making friends </li>
                                        <li>getting a good physical feeling </li>
                                        <li>satisfaction in achieving goals </li>
                                        <li>becoming more confident and competent </li>
                                        <li>physically experiencing a sense of relaxation </li>
                                        <li>having extra vigour and mood elevation. </li>
                                    </ol>
                                </li>
                                <li>As time goes by and regular exercise is continued further benefits will follow. The
                                impact will be witnessed in by amongst other things 
                                    <ol>
                                        <li>a reduction in body weight</li>
                                        <li>an increase in fitness, e.g. jogging speed </li>
                                        <li>a reduction in heart rate to complete a given task </li>
                                        <li>improved stamina. </li>
                                    </ol>
                                </li>
                                <li>Remember taking some exercise is normal for humans and, once started all, these benefits can help you to keep on going with your chosen physical activity. 
                                </li>
                                <li>Two main ways you can become physically more active are:
                                    <ol>
                                        <li>build more of it into your regular lifestyle by taking the exercise option
                                whenever you can and </li>
                                        <li>build into your life planned and structured exercise sessions. </li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>            
            </section>
</div>
